html,body{
    background-color: #383838;
    color: white;
    margin: 0;
    padding: 0;
}
:root {
    --bg1: #151828;
    --bg2: #1B1F34;
    --body: #959dcc;
    --brand: #FFD700;
    --brand1: #FFA01A;
    --white: #fff;
}
a{
    color: white;
    text-decoration: none;
    transition: all 0.7s ease;
}
a:hover{
    color: white;
}

.container {
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    width: 1100px;
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
    color: #d28c19;
    padding: 5px 15px;
}

.navbar,header{
    background-color: #272727;
}
.navbar .navbar-brand{
    margin: 5px 10px;
}
.navbar-brand img{
    width: 100%;
    height: 100px;
}
.navbar .dndk{
    margin: 5px 10px;
}


.toolbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #272727;
    margin-bottom: 20px;
}
.toolbar a{
    padding: 15px;
    font-size: 18px;
}
.toolbar a:hover{
    background-color: #1e2122;
    color: #d28c19;
}

.dropdown a:hover{
    background-color: #1e2122;
    color: #d28c19;
}
.dropdown-container {
    position: relative;
    display: flex;
    align-items: center;
}
.dropdown-container:hover .dropdown {
    display: flex;
    width: 500px;
    flex-wrap: wrap;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 700px;
}
.dropdown a{
    width: 100px;
    padding: 15px;
    background-color: #272727;
    font-size: medium;
    font-weight: 500;
}




.swiper {
    width: 100%;
    height: auto;
}
.swiper-wrapper{
    display: flex;
    flex-direction: row;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: inline-block;
    width: 100%;
    height: 30vh;
    object-fit: cover;
}






.form-inline{
    display: inline-block;
}
.form-search{
    width: 300px;
}
.form-control{
    background: #181a1b;
    border: gold;
    padding: 8px 12px;
    border-radius: 5px;
    color: whitesmoke;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.75);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.search{
    margin-top: 20px;
    padding: 10px 0;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    background-color: #151718;
}
.list-search{
    width: 130px;
    margin: 0 10px;
}
.search .list-search{
    width: 126px;
    float: left
}
.btn-filter-movie{
    border-radius: 5px;
    border-color: white;
    transition: background-color ease-in-out 0.25s, color ease-in-out 0.25s;
    color: white;
    margin-top: 26px;
}
.btn-filter-movie:hover{
    background-color: whitesmoke;
    color: black;
}




.col-lg-8{
    min-height: 100vh;
    margin-top: 10px;
}
.list-all-film{
    background-color: #151718;
    margin-top: 30px;
    clear: left;
}
.pa-title{
    display: flex;
    width: 100%;
    align-items: flex-end;
}
.pa-title-item{
    border-bottom: 1px solid whitesmoke;
    margin: 5px 10px 10px;
}
.pa-title-item.active{
    color: #ff6901;
    font-size: x-large;
    border-bottom: 3px solid #ff6901;
}
.pa-title-item-1{
    color: #ff6901;
    font-size: x-large;
    border-bottom: 3px solid #ff6901;
    display: inline-flex;
    margin: 5px 10px 10px;
}


.movie{
    padding: 5px;
}

.movie-item{
    position: relative;
    margin: 5px;
}
.movie-item img{
    width: 100%;
}
.movie-meta{
    width: 100%;
}
.mobie-name{
    color: #000;
    display: block;
}
.movie-item .movie-meta{
    position: absolute;
    bottom: 0;
    transition: all 0.7s ease;
    opacity: 0;
}
.movie-item:hover .movie-meta{
    bottom: 0;
    background-color: var(--bg2);
    opacity: 0.75;
}
.movie-item .imgh:hover{
    background: var(--bg1);
    opacity: .5;
    transition: all 0.7s ease;
}
.movie-meta p{
    display: inline;
    font-size: small;
    padding: 0 18px;
}


.pagination{
    height: auto;
    margin: 10px 0;
    display: flex;
    justify-content: center;
}
.pagination a{
    padding: 5px 8px;
    margin: 0 5px;
    border: 1px solid whitesmoke;
}
.pagination a:hover,
.pagination a.active{
    border: 1px solid #ff6901;
    color: #ff6901;
}

.content{
    border:1px solid var(--brand1);
    width: 100%;
    min-height: 100px;
    position: relative;
}
.list-top-movie-item-thumb{
    float:left;
    height: 98px;
    width: 70px;
    background-size: cover;
}
.content .status{
    position: absolute;
    background-color: red;
    color: whitesmoke;
    right: 0;
    top: 0;
}
.listall{
    background-color: #151718;
    margin-top: 40px;
}
.content .list-top-movie-item-info{
    display: flex;
    flex-direction: column;
    padding-left: 5px;

}
.list-top-movie-item-info .list-top-movie-item-vn{
    font-size: 16px;
    font-weight: bold;
}

.list-top-movie-item-info .list-top-movie-item-en,
.list-top-movie-item-info .list-top-movie-item-view{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 5px;
}
.pa-title-item-2{
    color: #ff6901;
    font-size: x-large;
    border-bottom: 2px dashed #ff6901;
    margin: 5px 10px 10px;
}



footer, footer .container{
    background-color: #000;
    padding: 10px;
    margin-top: 30px;
}


.breadcrumb{
    background-color: #000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 5px;
}