<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9011056154.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style3.css">
    <script language="javascript" src></script>
    <link rel="icon" type="image/x-icon" href="/assets/icon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>Movie System | Admin</title>
    <style>
        .content th,
        .content td{
            color: black;
            padding: 3px;
        }

        .pagination{
            height: auto;
            margin: 10px 0;
            display: flex;
            justify-content: center;
        }
        .pagination a{
            padding: 5px 8px;
            margin: 0 5px;
            border: 1px solid whitesmoke;
        }
    </style>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="slide-bar" style="width: initial; position: unset;">
                <div class="slide-bar-start">
                    <a th:href="@{/admin}">Movies</a>
                    <a th:href="@{/admin/episode}">Episodes</a>
                    <a th:href="@{/admin/actor}">Actors</a>
                    <a th:href="@{/admin/user}">Users</a>
                </div>
                <div class="slide-bar-end">
                    <a th:href="@{/}">Trang chủ</a>
                </div>
            </div>
        </div>
        <div id="movie-admin" class="col-md-10" th:if="${#strings.equals(page, 'movie')}">
            <div class="title" style="height: 10vh">
                <h1>Movie</h1>
            </div>
            <div id="movie-element">
                <div class="content" style="margin-top: 7px">
                    <div class="search" style="display: inline-flex">
                        <form th:action="@{/admin/filter}" style="width: 90%;">
                            <div class="list-search">
                                <span>Tìm kiếm:</span>
                                <label for="movie-name">
                                    <input type="text" id="movie-name" placeholder="Tên phim"
                                           class="form-control" name="movie_name">
                                </label>
                            </div>

                            <div class="list-search">
                                <label for="category">Thể loại</label>
                                <select class="form-control" id="category" name="genre">
                                    <option value="Tất cả">Tất cả</option>
                                    <option th:each="genre : ${genres}" th:value="${genre}" th:text="${genre}"></option>
                                </select>
                            </div>
                            <div class="list-search">
                                <label for="year">Năm phát hành</label>
                                <select id="year" name="year" class="form-control">
                                    <option value="Tất cả">Tất cả</option>
                                    <option th:each="year:${years}" th:value="${year}" th:text="${year}"></option>
                                </select>
                            </div>
                            <button type="submit" id="btn-movie-filter" class="btn btn-dark btn-filter-movie">
                                <span>Áp dụng</span>
                            </button>
                        </form>
                        <button class="btn btn-success" onclick="showAdd()"
                                style="display:flex; float:right; margin: 10px; align-items: center;">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="content" style="margin-top: 7px">
                    <table border="1" style="width: 100%;">
                        <colgroup>
                            <col style="width: 5%">
                            <col style="width: 40%">
                            <col style="width: 10%">
                            <col style="width: 15%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                        </colgroup>
                        <tr>
                            <th>ID</th>
                            <th>Tên phim</th>
                            <th>Số tập</th>
                            <th>Quốc gia</th>
                            <th>Điểm</th>
                            <th>Lượt xem</th>
                            <th></th>
                        </tr>
                        <tr th:each="movie : ${movies}">
                            <td th:text="${movie.movieId}"></td>
                            <td th:text="${movie.title}"></td>
                            <td th:text="${movie.totalEpisode}"></td>
                            <td th:text="${movie.nation}"></td>
                            <td th:text="${movie.rating}"></td>
                            <td th:text="${movie.totalView}"></td>
                            <td>
                                <a type="button" class="btn btn-success" th:href="@{/admin/edit(id=${movie.movieId})}">
                                    <i class="fa-solid fa-pen-nib"></i>
                                </a>
                                <a type="button" class="btn btn-danger" th:href="@{/admin/delete(id=${movie.movieId})}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination" th:if="${moviePage.totalPages > 1 && #strings.equals(dividerPage, '')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${moviePage.hasPrevious()}"
                           th:href="@{/admin(page=*{0}, size=${moviePage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, moviePage.totalPages - 1)}"
                           th:class="${moviePage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin(page=*{i}, size=${moviePage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${moviePage.hasNext()}"
                           th:href="@{/admin(page=*{moviePage.totalPages - 1}, size=${moviePage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                    <div id="filter" class="pagination" th:if="${moviePage.totalPages > 1 && #strings.equals(dividerPage, 'filter')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${moviePage.hasPrevious()}"
                           th:href="@{/admin/filter(movie_name=${movieNameFilter}, genre=${genreFilter}, year=${yearFilter}, page=*{0}, size=${moviePage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, moviePage.totalPages - 1)}"
                           th:class="${moviePage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/filter(movie_name=${movieNameFilter}, genre=${genreFilter}, year=${yearFilter}, page=*{i}, size=${moviePage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${moviePage.hasNext()}"
                           th:href="@{/admin/filter(movie_name=${movieNameFilter}, genre=${genreFilter}, year=${yearFilter}, page=*{moviePage.totalPages - 1}, size=${moviePage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="movie-form" style="display: none;">
                <div class="content">
                    <form th:action="@{/admin/handle}" method="get" style="font-size: 12px">
                        <input type="hidden" name="id" th:value="${movieEdit != null ? movieEdit.movieId : '0'}">
                        <label for="title">Tên phim:</label>
                        <input class="form-control" type="text" id="title" name="title" required
                               th:value="${movieEdit != null ? movieEdit.title : ''}">

                        <label for="description">Mô tả:</label>
                        <textarea class="form-control" type="text" id="description" name="description" required style="height: 100px;"
                                  th:text="${movieEdit != null ? movieEdit.description : ''}"></textarea>

                        <div style="display: flex;">
                            <label for="genre" style="margin-right: 30px;">Thể loại:
                                <input class="form-control" type="text" id="genre" name="genre" required
                                       th:value="${movieEdit != null ? movieEdit.genre : ''}">
                            </label>


                            <label for="episode" style="margin-right: 30px;">Số tập:
                                <input class="form-control" type="number" id="episode" name="episode" required
                                       th:value="${movieEdit != null ? movieEdit.totalEpisode : ''}">
                            </label>

                            <label for="Director">Đạo diễn:
                                <input class="form-control" type="text" id="director" name="director" required
                                       th:value="${movieEdit != null ? movieEdit.director : ''}">
                            </label>
                        </div>

                        <label for="poster">Poster:</label>
                        <textarea class="form-control" type="text" id="poster" name="poster" required
                                  th:text="${movieEdit != null ? movieEdit.poster : ''}"></textarea>

                        <label for="trailer">Trailer:</label>
                        <textarea class="form-control" type="text" id="trailer" name="trailer" required
                                  th:text="${movieEdit != null ? movieEdit.trailer : ''}"></textarea>
                        <div style="display: flex;">
                            <label for="nation" style="margin-right: 30px;">Nation:
                                <input class="form-control" type="text" id="nation" name="nation" required
                                       th:value="${movieEdit != null ? movieEdit.nation : ''}">
                            </label>

                            <label for="date">Release Date:
                                <input class="form-control" type="text" id="date" name="date" required
                                       th:value="${movieEdit != null ? movieEdit.releaseDate : ''}">
                            </label>
                        </div>

                        <div style="display: flex;">
                            <button style="margin-top: 20px; width: 200px;" class="btn btn-dark" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <script th:inline="javascript">
                /*<![CDATA[*/
                const movieElement = document.getElementById('movie-element');
                const movieForm = document.getElementById('movie-form');

                function showAdd(){
                    movieElement.style.display = 'none';
                    movieForm.style.display = '';
                }

                const showMovieForm = /*[[${showMovieForm}]]*/ false;
                if(showMovieForm){
                    showAdd();
                }
                /*]]>*/
            </script>
        </div>
        <div id="episode-admin" class="col-md-10" th:if="${#strings.equals(page, 'episode')}">
            <div class="title" style="height: 10vh">
                <h1>Episode</h1>
            </div>
            <div id="episode-element">
                <div class="content" style="margin-top: 7px">
                    <div class="search" style="display: inline-flex">
                        <form th:action="@{/admin/episode/filter}" style="width: 90%;">
                            <div class="list-search">
                                <label for="movie-episode">Phim</label>
                                <select class="form-control" id="movie-episode" name="movie">
                                    <option value="Tất cả">Tất cả</option>
                                    <option th:each="movie : ${movies}" th:value="${movie.title}" th:text="${movie.title}"></option>
                                </select>
                            </div>
                            <button type="submit" id="btn-episode-filter" class="btn btn-dark btn-filter-movie">
                                <span>Áp dụng</span>
                            </button>
                        </form>
                        <button class="btn btn-success" onclick="showAddEpisode()"
                                style="display:flex; float:right; margin: 10px; align-items: center;">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="content" style="margin-top: 7px">
                    <table border="1" style="width: 100%;">
                        <colgroup>
                            <col style="width: 5%">
                            <col style="width: 50%">
                            <col style="width: 15%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                        </colgroup>
                        <tr>
                            <th>ID</th>
                            <th>Tên phim</th>
                            <th>Tập phim</th>
                            <th>Thời lượng (phút)</th>
                            <th>Lượt xem</th>
                            <th></th>
                        </tr>
                        <tr th:each="episode : ${episodes}">
                            <td th:text="${episode.episodeId}"></td>
                            <td th:text="${episode.movie.title}"></td>
                            <td th:text="${episode.episodeName}"></td>
                            <td th:text="${episode.duration}"></td>
                            <td th:text="${episode.view}"></td>
                            <td>
                                <a type="button" class="btn btn-success" th:href="@{/admin/episode/edit(id=${episode.episodeId})}">
                                    <i class="fa-solid fa-pen-nib"></i>
                                </a>
                                <button class="btn btn-danger" th:href="@{/admin/episode/delete(id=${episode.episodeId})}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </button>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination" th:if="${episodePage.totalPages > 1 && #strings.equals(dividerPage, '')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${episodePage.hasPrevious()}"
                           th:href="@{/admin/episode(page=*{0}, size=${episodePage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, episodePage.totalPages - 1)}"
                           th:class="${episodePage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/episode(page=*{i}, size=${episodePage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${episodePage.hasNext()}"
                           th:href="@{/admin/episode(page=*{episodePage.totalPages - 1}, size=${episodePage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                    <div id="filter-episode" class="pagination" th:if="${episodePage.totalPages > 1 && #strings.equals(dividerPage, 'filter')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${episodePage.hasPrevious()}"
                           th:href="@{/admin/episode/filter(movie=${movieFilter}, page=*{0}, size=${episodePage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, episodePage.totalPages - 1)}"
                           th:class="${episodePage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/episode/filter(movie=${movieFilter}, page=*{i}, size=${episodePage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${episodePage.hasNext()}"
                           th:href="@{/admin/episode/filter(movie=${movieFilter}, page=*{episodePage.totalPages - 1}, size=${episodePage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="episode-form" style="display: none;">
                <div class="content">
                    <form th:action="@{/admin/episode/handle}" method="get" style="font-size: 12px">
                        <input type="hidden" name="id" th:value="${episodeEdit != null ? episodeEdit.episodeId : '0'}">
                        <label for="episodeName">Tên tập phim:</label>
                        <input class="form-control" type="text" id="episodeName" name="episodeName" required
                               th:value="${episodeEdit != null ? episodeEdit.episodeName: ''}">

                        <label for="episodeFilm">Đường dẫn:</label>
                        <input class="form-control" type="text" id="episodeFilm" name="episodeFilm" required style="height: 100px;"
                                  th:value="${episodeEdit != null ? episodeEdit.episodeFilm : ''}">
                        <div style="display: flex;">
                            <label for="duration" style="margin-right: 30px;">Thời lượng:
                                <input class="form-control" type="number" id="duration" name="duration" required
                                       th:value="${episodeEdit != null ? episodeEdit.duration : ''}">
                            </label>


                            <div class="list-search">
                                <label for="movie-episode-dropdown">Phim</label>
                                <select class="form-control" id="movie-episode-dropdown" name="movie">
                                    <option value="Tất cả">Tất cả</option>
                                    <option th:each="movie : ${movies}"
                                            th:value="${movie.title}"
                                            th:text="${movie.title}"
                                            th:selected="${episodeEdit != null && episodeEdit.movie.title == movie.title}"></option>
                                </select>
                            </div>
                        </div>

                        <div style="display: flex;">
                            <button style="margin-top: 20px; width: 200px;" class="btn btn-dark" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>

            <script th:inline="javascript">
                /*<![CDATA[*/
                const episodeElement = document.getElementById('episode-element');
                const episodeForm = document.getElementById('episode-form');

                function showAddEpisode(){
                    episodeElement.style.display = 'none';
                    episodeForm.style.display = '';
                }

                const showEpisodeForm = /*[[${showEpisodeForm}]]*/ false;
                if(showEpisodeForm){
                    showAddEpisode();
                }
                /*]]>*/
            </script>
        </div>
        <div id="actor-admin" class="col-md-10" th:if="${#strings.equals(page, 'actor')}">
            <div class="title" style="height: 10vh">
                <h1>Actor</h1>
            </div>
            <div id="actor-element">
                <div class="content" style="margin-top: 7px">
                    <div class="search" style="display: inline-flex">
                        <form th:action="@{/admin/actor/filter}" style="width: 90%;">
                            <div class="list-search">
                                <label for="actor_name">Tên diễn viên</label>
                                <input class="form-control" id="actor_name" name="actor_name" placeholder="Tên diễn viên">
                            </div>
                            <div class="list-search">
                                <label for="movie-actor">Phim</label>
                                <select class="form-control" id="movie-actor" name="movie">
                                    <option value="Tất cả">Tất cả</option>
                                    <option th:each="movie : ${movies}" th:value="${movie.title}" th:text="${movie.title}"></option>
                                </select>
                            </div>
                            <button type="submit" id="btn-actor-filter" class="btn btn-dark btn-filter-movie">
                                <span>Áp dụng</span>
                            </button>
                        </form>
                        <button class="btn btn-success" onclick="showAddActor()"
                                style="display:flex; float:right; margin: 10px; align-items: center;">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="content" style="margin-top: 7px">
                    <table border="1" style="width: 100%;">
                        <colgroup>
                            <col style="width: 5%">
                            <col style="width: 20%">
                            <col style="width: 60%">
                            <col style="width: 15%">
                        </colgroup>
                        <tr>
                            <th>ID</th>
                            <th>Tên diễn viên</th>
                            <th>Tiểu sử</th>
                            <th></th>
                        </tr>
                        <tr th:each="actor : ${actors}">
                            <td th:text="${actor.actorId}"></td>
                            <td th:text="${actor.name}"></td>
                            <td th:text="${actor.biography.substring(0, 70) + ' ...'}"></td>
                            <td>
                                <a type="button" class="btn btn-success" th:href="@{/admin/actor/edit(id=${actor.actorId})}">
                                    <i class="fa-solid fa-pen-nib"></i>
                                </a>
                                <a type="button" class="btn btn-danger" th:href="@{/admin/actor/delete(id=${actor.actorId})}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                                <a type="button" class="btn btn-primary" th:href="@{/admin/actor/movie(id=${actor.actorId})}">
                                    <i class="fa-solid fa-plus"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination" th:if="${actorPage.totalPages > 1 && #strings.equals(dividerPage, '')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${actorPage.hasPrevious()}"
                           th:href="@{/admin/actor(page=*{0}, size=${actorPage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, actorPage.totalPages - 1)}"
                           th:class="${actorPage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/actor(page=*{i}, size=${actorPage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${actorPage.hasNext()}"
                           th:href="@{/admin/actor(page=*{actorPage.totalPages - 1}, size=${actorPage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                    <div id="filter-actor" class="pagination" th:if="${actorPage.totalPages > 1 && #strings.equals(dividerPage, 'filter')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${actorPage.hasPrevious()}"
                           th:href="@{/admin/actor/filter(movie=${movieFilter}, page=*{0}, size=${actorPage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, actorPage.totalPages - 1)}"
                           th:class="${actorPage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/actor/filter(movie=${movieFilter}, page=*{i}, size=${actorPage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${actorPage.hasNext()}"
                           th:href="@{/admin/actor/filter(movie=${movieFilter}, page=*{actorPage.totalPages - 1}, size=${actorPage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="actor-form" style="display: none;">
                <div class="content">
                    <form th:action="@{/admin/actor/handle}" method="get" style="font-size: 12px">
                        <input type="hidden" name="id" th:value="${actorEdit != null ? actorEdit.actorId : '0'}">
                        <label for="actorName">Tên diễn viên:</label>
                        <input class="form-control" type="text" id="actorName" name="actorName" required
                               th:value="${actorEdit != null ? actorEdit.name: ''}">

                        <label for="biography">Tiểu sử:</label>
                        <textarea class="form-control" type="text" id="biography" name="biography" required style="height: 300px;"
                                  th:text="${actorEdit != null ? actorEdit.biography : ''}"></textarea>

                        <div style="display: flex;">
                            <button style="margin-top: 20px; width: 200px;" class="btn btn-dark" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                const actorElement = document.getElementById('actor-element');
                const actorForm = document.getElementById('actor-form');

                function showAddActor(){
                    actorElement.style.display = 'none';
                    actorForm.style.display = '';
                }

                const showActorForm = /*[[${showActorForm}]]*/ false;
                if (showActorForm){
                    showAddActor();
                }

                /*]]>*/
            </script>
        </div>
        <div id="actor-movie-admin" class="col-md-10" th:if="${#strings.equals(page, 'actor-movie')}">
            <div class="title" style="height: 10vh">
                <h1>Actor</h1>
            </div>
            <div id="actor-movie-element">
                <div class="content" style="margin-top: 7px">
                    <div class="search" style="display: inline-flex">
                        <form th:action="@{/admin/actor/movie/filter}" style="width: 90%;">
                            <input class="form-control" type="hidden" name="id" th:value="${actor.actorId}">

                            <label for="actor-movie" style="margin-left: 20px">
                                <input class="form-control" id="actor-movie" type="text" name="movie" placeholder="Tên phim">
                            </label>
                            <button type="submit" id="btn-actor-movie-filter" class="btn btn-dark btn-filter-movie"
                                    style="margin: 0 10px 0 10px;">
                                <span>Áp dụng</span>
                            </button>
                        </form>
                        <button class="btn btn-success" onclick="showAddActorMovie()"
                                style="display:flex; float:right; margin: 10px; align-items: center;">
                            <i class="fa-solid fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="content" style="margin-top: 7px">
                    <table border="1" style="width: 100%;">
                        <colgroup>
                            <col style="width: 5%">
                            <col style="width: 25%">
                            <col style="width: 60%">
                            <col style="width: 10%">
                        </colgroup>
                        <tr>
                            <th>STT</th>>
                            <th>Tên diễn viên</th>
                            <th>Tên phim</th>
                            <th></th>
                        </tr>
                        <tr th:each="movie, stat : ${movies}">
                            <td th:text="${stat.index + 1}"></td>
                            <td th:text="${actor.name}"></td>
                            <td th:text="${movie.title}"></td>
                            <td>
                                <a type="button" class="btn btn-danger" th:href="@{/admin/actor/movie/delete(actor_id=${actor.actorId}, movie_id=${movie.movieId})}">
                                    <i class="fa-solid fa-trash-can"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination" th:if="${moviePage.totalPages > 1 && #strings.equals(dividerPage, '')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${moviePage.hasPrevious()}"
                           th:href="@{/admin/actor/movie(id=${actor.actorId}, page=*{0}, size=${moviePage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, moviePage.totalPages - 1)}"
                           th:class="${moviePage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/actor/movie(id=${actor.actorId}, page=*{i}, size=${moviePage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${moviePage.hasNext()}"
                           th:href="@{/admin/actor/movie(id=${actor.actorId}, page=*{moviePage.totalPages - 1}, size=${moviePage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                    <div id="filter-actor-movie" class="pagination" th:if="${moviePage.totalPages > 1 && #strings.equals(dividerPage, 'filter')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${moviePage.hasPrevious()}"
                           th:href="@{/admin/actor/movie/filter(id=${actorIdFilter}, movie=${movieFilter}, page=*{0}, size=${moviePage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, moviePage.totalPages - 1)}"
                           th:class="${moviePage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/actor/movie/filter(id=${actorIdFilter}, movie=${movieFilter}, page=*{i}, size=${moviePage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${actorPage.hasNext()}"
                           th:href="@{/admin/actor/movie/filter(id=${actorIdFilter}, movie=${movieFilter}, page=*{moviePage.totalPages - 1}, size=${moviePage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="actor-movie-form" style="display: none;">
                <div class="content">
                    <form th:action="@{/admin/actor/movie/handle}" method="get" style="font-size: 12px">
                        <input type="hidden" name="id" th:value="${actor!= null ? actor.actorId : '0'}">
                        <label for="actorMovieName">Tên diễn viên:</label>
                        <input class="form-control" type="text" id="actorMovieName" name="actorName" required readonly
                               th:value="${actor != null ? actor.name: ''}">

                        <div class="list-search" style="margin: 0;">
                            <label for="actor-movie-film">Phim</label>
                            <select class="form-control" id="actor-movie-film" name="movie">
                                <option th:each="movie : ${moviesNotInActor}" th:value="${movie.title}" th:text="${movie.title}"></option>
                            </select>
                        </div>
                        <div style="display: flex;">
                            <button style="margin-top: 20px; width: 200px;" class="btn btn-dark" type="submit">Save</button>
                        </div>
                    </form>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                const actorMovieElement = document.getElementById('actor-movie-element');
                const actorMovieForm = document.getElementById('actor-movie-form');

                function showAddActorMovie(){
                    actorMovieElement.style.display = 'none';
                    actorMovieForm.style.display = '';
                }

                const showActorMovieForm = /*[[${showActorMovieForm}]]*/ false;
                if (showActorMovieForm){
                    showAddActorMovie();
                }

                /*]]>*/
            </script>
        </div>
        <div id="user" class="col-md-10" th:if="${#strings.equals(page, 'user')}">
            <div class="title" style="height: 10vh">
                <h1>User</h1>
            </div>
            <div id="user-element">
                <div class="content" style="margin-top: 7px">
                    <div class="search" style="display: inline-flex">
                        <form th:action="@{/admin/user/search}" style="width: 90%;">
                            <div class="list-search">
                                <label for="search">Tìm kiếm</label>
                                <input class="form-control" id="search" name="search" placeholder="Tìm kiếm">
                            </div>
                            <button type="submit" id="btn-user-filter" class="btn btn-dark btn-filter-movie">
                                <span>Tìm kiếm</span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="content" style="margin-top: 7px">
                    <table border="1" style="width: 100%;">
                        <colgroup>
                            <col style="width: 5%">
                            <col style="width: 15%">
                            <col style="width: 35%">
                            <col style="width: 15%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                            <col style="width: 10%">
                        </colgroup>
                        <tr>
                            <th>ID</th>
                            <th>Tên tài khoản</th>
                            <th>Email</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.userId}"></td>
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${#strings.isEmpty(user.dateOfBirth) ? 'Chưa đặt' : user.dateOfBirth}"></td>
                            <td th:text="${#strings.isEmpty(user.gender) ? 'Chưa đặt' : user.gender}"></td>
                            <td th:style="${user.status ? 'color:red;' : 'color: green;'}" th:text="${user.status ? 'Lock' : 'Normal'}"></td>
                            <td>
                                <a type="button" class="btn btn-danger"
                                   th:if="${!user.status}"
                                   th:href="@{/admin/user/status(id=${user.userId})}">
                                    <i class="fa-solid fa-lock"></i>
                                </a>
                                <a type="button" class="btn btn-success"
                                   th:if="${user.status}"
                                   th:href="@{/admin/user/status(id=${user.userId})}">
                                    <i class="fa-solid fa-lock-open"></i>
                                </a>
                                <a type="button" class="btn btn-info"
                                   th:href="@{/admin/user/role(id=${user.userId})}">
                                    <i class="fa-solid fa-user-tie"></i>
                                </a>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination" th:if="${userPage.totalPages > 1 && #strings.equals(dividerPage, '')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${userPage.hasPrevious()}"
                           th:href="@{/admin/user(page=*{0}, size=${userPage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, userPage.totalPages - 1)}"
                           th:class="${userPage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/user(page=*{i}, size=${userPage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${userPage.hasNext()}"
                           th:href="@{/admin/user(page=*{userPage.totalPages - 1}, size=${userPage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                    <div id="filter-user" class="pagination" th:if="${userPage.totalPages > 1 && #strings.equals(dividerPage, 'search')}"
                         style="display:flex; justify-content:center;">
                        <a th:if="${userPage.hasPrevious()}"
                           th:href="@{/admin/user/search(search=${searchFilter}, page=*{0}, size=${userPage.size})}">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                        <a th:each="i : ${#numbers.sequence(0, userPage.totalPages - 1)}"
                           th:class="${userPage.number == i ? 'paitem active' : 'paitem'}"
                           th:href="@{/admin/user/search(search=${searchFilter}, page=*{i}, size=${userPage.size})}"
                           th:text="${i + 1}"></a>
                        <a th:if="${userPage.hasNext()}"
                           th:href="@{/admin/user/search(search=${searchFilter}, page=*{userPage.totalPages - 1}, size=${userPage.size})}"
                           aria-label="Last">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>