<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9011056154.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style2.css">
    <script language="javascript" src></script>
    <link rel="icon" type="image/x-icon" href="/assets/icon.ico"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>Movie System</title>
    <style>
        .col-md-4 {
            display: flex;
            flex-direction: column;
        }

        .col-md-4 a {
            padding: 20px;
            margin-left: 10px;
        }

        .hs {
            border: 1px solid whitesmoke;
        }

        .information {
            margin-bottom: 10px;
        }

        .dropdown-container:hover .dropdown {
            display: grid;
            width: auto;
            background-color: #272727;
            grid-template-columns: repeat(5, 1fr);
        }

        .dropdown a {
            display: block;
            padding: 15px;
            font-size: medium;
            font-weight: 500;
            width: fit-content;
            white-space: nowrap;
        }

        .user-avatar {
            position: relative;
        }

        .user-avatar img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #1e2122;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
            right: 0;
        }

        .dropdown-content span {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }

        .dropdown-content span:hover {
            background-color: #1e2122;
            color: #d28c19;
        }

        .user-avatar:hover .dropdown-content {
            display: block;
        }

        .inf-avt-link-item-status p {
            margin-bottom: 0;
            padding: 5px;
            font-size: 12px;
            font-weight: 500;
            color: #a8a094;
        }
    </style>
</head>
<body>
<div class="fbody">
    <nav id="home" class="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}"><img src="/img/icon.png" alt=""
                                                        style="height: 60px; width: 200px"></a>
            <div></div>
            <form class="d-flex" th:action="@{/search}" method="get">
                <label for="search" class="form-label">
                    <input id="search" name="search" class="form-search form-control ms-5 me-2" type="search"
                           placeholder="Search" aria-label="Search">
                </label>
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="dndk" th:if="${session.user == null}">
                <input class="btn btn-outline-light openl" id="bt" type="button" value="Login">
                <input class="btn btn-outline-light opens" id="btn2" type="button" value="Sign Up">
            </div>
            <div class="user-avatar" id="userAvatar" th:if="${session.user != null}" style="cursor: pointer;">
                <img th:src="${session.user.getAvatar()}" alt="User Avatar" style="height: 40px; width: 40px; border-radius: 50%;">
                <div class="dropdown-content" id="dropdownContent" style="z-index: 999999">
                    <span>
                        <i class="fa-regular fa-user"></i>
                        <a th:href="@{/profile}">Profile</a>
                    </span>
                    <span th:if="${#strings.equals(session.user.role, 'admin')}">
                        <i class="fa-solid fa-user-tie"></i>
                        <a th:href="@{/admin}">Admin</a>
                    </span>
                    <span>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a th:href="@{/logout}">Logout</a>
                    </span>
                </div>
            </div>

            <script>
                window.onclick = function(event) {
                    if (!event.target.matches('.user-avatar')) {
                        const dropdowns = document.getElementsByClassName("dropdown-content");
                        for (let i = 0; i < dropdowns.length; i++) {
                            const openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            </script>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="toolbar" style="justify-content: space-between">
                <a th:href="@{/}">Trang chủ</a>
                <div class="dropdown-container">
                    <a>Thể loại</a>
                    <div class="dropdown" style="z-index: 9999">
                        <a th:each="genre : ${genres}" th:href="@{/filter(category=${genre})}" th:text="${genre}"></a>
                    </div>
                </div>
                <div class="dropdown-container">
                    <a>Quốc gia</a>
                    <div class="dropdown" style="z-index: 9999">
                        <a th:each="nation : ${nations}" th:href="@{/filter(category=${nation})}" th:text="${nation}"></a>
                    </div>
                </div>
                <div class="dropdown-container">
                    <a>Phim mới</a>
                    <div class="dropdown" style="z-index: 9999">
                        <a th:each="year : ${releaseDates}" th:href="@{/filter(category=${year})}" th:text="${year}"></a>
                    </div>
                </div>
                <a th:href="@{/filter(category=series)}">Phim bộ</a>
                <a th:href="@{/filter(category=feature-film)}">Phim lẻ</a>
                <a th:href="@{/filter(category=english-language-films)}">Phim chiếu rạp</a>
            </div>
        </div>
    </header>

    <div id="home" class="container">

        <div class="row">
            <div class="col-md-4">
                <h3>Thông tin tài khoản</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4" style="border: 1px solid white;">
                <a th:href="@{/profile}">Thông tin cá nhân</a>
                <a th:href="@{/profile/watch-history}">Lịch sử xem phim</a>
                <a th:href="@{/profile/favorite}">Danh sách yêu thích</a>
                <a th:href="@{/profile/review}">Danh sách đánh giá</a>
                <hr>
                <a th:href="@{/logout}">Đăng xuất tài khoản</a>
            </div>
            <div id="profile" class="col-md-8" th:if="${action.equals('profile')}">
                <div class="hs" style="margin-bottom: 10px;">
                    <div id="information-default" class="row" style="margin: 0;">
                        <div class="col-md-2"><img th:src="${session.user.avatar}" alt="Avatar" style="margin:20px 0; max-height: 100%; max-width:100%;"></div>
                        <div class="col-md-8"
                             style="display:  flex; flex-direction: column; justify-content: space-around;">
                            <h4 style="margin-bottom: 10px; padding: 0;" th:text="${session.user.username}"></h4>
                            <div class="information"
                                 th:text="${name}"></div>
                            <div class="information" th:text="'Giới tính: ' + (${#strings.isEmpty(session.user.gender) ? 'Chưa cập nhật' : session.user.gender})"></div>
                            <div class="information" th:text="'Ngày sinh: ' + (${#strings.isEmpty(session.user.dateOfBirth) ? 'Chưa cập nhật' : session.user.dateOfBirth})"></div>
                        </div>
                        <div class="col-md-2" style="display: flex; justify-content: center; align-items: center;">
                            <a style="cursor: pointer;">Thay đổi</a>
                        </div>
                    </div>
                    <div id="change-information" class="row" style="margin: 0; display: none;">
                        <div class="col-md-2">
                            <img id="avatarImage" th:src="${session.user.avatar}" alt="Avatar" style="margin:20px 0; max-height: 100%; max-width:100%;">
                            <div style="display: flex; justify-content: center; align-items: center;">
                                <input type="file" id="avatarInput" style="display: none;" accept="image/*"/>
                                <a class="btn btn-primary btnpd" type="button" onclick="changeAvatar()">Thay đổi</a>
                            </div>
                        </div>
                        <div class="col-md-8" style="display: flex; flex-direction: column; justify-content: space-around;">
                            <h4 style="margin-bottom: 10px; padding: 0;" th:text="${session.user.username}"></h4>
                            <form th:action="@{/profile/update}" method="post">
                                <input type="hidden" id="avatarPath" name="avatarPath" th:value="${session.user.avatar}"/>
                                <div class="form-row" style="display: flex;">
                                    <div class="form-group" style="margin-right: 10px;">
                                        <label for="username">Tên tài khoản</label>
                                        <input type="text" id="username" name="username" class="form-control"
                                               placeholder="Username" th:value="${session.user.username}"/>
                                    </div>
                                </div>
                                <div class="form-row" style="display: flex;">
                                    <div class="form-group" style="margin-right: 10px;">
                                        <label for="firstName">Họ:</label>
                                        <input type="text" id="firstName" name="firstName" class="form-control"
                                               placeholder="First Name" th:value="(${#strings.isEmpty(session.user.firstName) ? '' : session.user.firstName})"/>
                                    </div>
                                    <div class="form-group" style="margin-left: 10px;">
                                        <label for="lastName">Tên:</label>
                                        <input type="text" id="lastName" name="lastName" class="form-control"
                                               placeholder="Last Name" th:value="(${#strings.isEmpty(session.user.lastName) ? '' : session.user.lastName})"/>
                                    </div>
                                </div>
                                <div class="form-row" style="display: flex; margin: 10px 0">
                                    <div class="form-group" style="margin-right: 10px;">
                                        <label for="gender">Giới tính:</label>
                                        <select id="gender" name="gender" class="form-control"
                                                th:value="(${#strings.isEmpty(session.user.gender) ? 'Không biết' : session.user.gender})">
                                            <option value="Nam">Nam</option>
                                            <option value="Nữ">Nữ</option>
                                            <option value="Không biết">Không biết</option>
                                        </select>
                                    </div>
                                    <div class="form-group" style="margin-left: 10px;">
                                        <div class="form-group">
                                            <label for="dateOfBirth">Ngày sinh:</label>
                                            <input type="date" id="dateOfBirth" name="dateOfBirth" class="form-control"
                                                   placeholder="Date of Birth" th:value="(${#strings.isEmpty(session.user.dateOfBirth) ? 'Chưa cập nhật' : session.user.dateOfBirth})"/>
                                        </div>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary" style="margin-bottom: 10px;">Lưu thay đổi</button>
                                <button type="button" class="btn btn-danger" style="margin-bottom: 10px;"
                                        onclick="cancelButtonClick()">Hủy</button>
                            </form>
                        </div>
                    </div>
                    <script>
                        function changeAvatar() {
                            document.getElementById('avatarInput').click();
                        }

                        document.getElementById('avatarInput').addEventListener('change', function (event) {
                            const input = event.target;
                            const reader = new FileReader();

                            reader.onload = function () {
                                const img = document.getElementById('avatarImage');
                                img.src = reader.result;

                                const avatarPathField = document.getElementById('avatarPath');
                                avatarPathField.value = reader.result;
                            };

                            reader.readAsDataURL(input.files[0]);
                        });

                        document.addEventListener('DOMContentLoaded', function () {
                            const informationDefault = document.getElementById('information-default');
                            const changeInformation = document.getElementById('change-information');

                            const changeLink = informationDefault.querySelector('a');

                            changeLink.addEventListener('click', function () {
                                informationDefault.style.display = 'none';
                                changeInformation.style.display = 'flex';
                            });
                        });

                        function cancelButtonClick() {
                            const informationDefault = document.getElementById('information-default');
                            const changeInformation = document.getElementById('change-information');

                            informationDefault.style.display = 'flex';
                            changeInformation.style.display = 'none';
                        }
                    </script>
                </div>
                <span>Tài khoản bảo mật</span>
                <div style="width: 100%; border: 1px solid white; margin-top: 20px;">
                    <div style="padding: 10px 20px; margin-top: 10px;">
                        <span style="color: grey;">Tài khoản: </span>
                        <span style="color: grey;">Đã xác thực</span>
                        <hr>
                    </div>
                    <div style="padding: 10px 20px;">
                        <span style="color: grey;">ID: </span>
                        <span style="color: grey;" th:text="'No.' + ${session.user.userId}"></span>
                        <hr>
                    </div>
                    <div style="padding: 10px 20px;">
                        <span style="color: grey;">E-mail: </span>
                        <span style="color: grey;" th:text="${session.user.email}"></span>
                        <hr>
                    </div>
                    <div style="padding: 10px 20px;">
                        <span style="color: grey;">Khu vực: </span>
                        <span style="color: grey;">Việt Nam</span>
                        <hr>
                    </div>
                    <div style="padding: 10px 20px;">
                        <div id="password-default" class=row >
                            <div class="col-md-10">
                                <span style="color: grey;">Mật khẩu</span>
                                <span style="color: grey;">********</span>
                            </div>
                            <a type="button" class="col-md-2" onclick="changePasswordButton()">Thay đổi</a>
                        </div>
                        <div id="change-password" class="row" style="display: none;">
                            <form th:action="@{/profile/change-password}" method="post">
                                <div class="form-row" style="display: flex; margin-bottom: 10px;">
                                    <div class="form-group">
                                        <label for="oldPassword">Mật khẩu cũ:</label>
                                        <input type="password" id="oldPassword" name="oldPassword" class="form-control" required value="''"/>
                                    </div>
                                </div>
                                <div class="form-row" style="display: flex; margin-bottom:15px;">
                                    <div class="form-group" style="margin-right: 10px;">
                                        <label for="newPassword">Mật khẩu mới:</label>
                                        <input type="password" id="newPassword" name="newPassword" class="form-control" required />
                                    </div>
                                    <div class="form-group" style="margin-left: 10px;">
                                        <label for="confirmPassword">Nhập lại mật khẩu mới:</label>
                                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" required />
                                    </div>
                                </div>
                                <div id="error-message" class="form-row" style="display: none; margin-bottom:15px; color: red;" th:text="${error_password}">
                                </div>
                                <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
                                <button type="button" class="btn btn-danger" onclick="cancelPasswordButton()">Hủy</button>
                            </form>
                        </div>
                        <hr>
                        <script th:inline="javascript">
                            /*<![CDATA[*/
                            const passwordDefault = document.getElementById('password-default');
                            const changePassword = document.getElementById('change-password');
                            const errorMessage = document.getElementById('error-message');

                            function changePasswordButton() {
                                passwordDefault.style.display = 'none';
                                changePassword.style.display = 'flex';
                            }

                            function cancelPasswordButton() {
                                passwordDefault.style.display = 'flex';
                                changePassword.style.display = 'none';
                            }

                            const error = /*[[${error}]]*/ false;
                            if(error) {
                                errorMessage.style.display = 'flex';
                                changePasswordButton();
                            }
                            /*]]>*/
                        </script>
                    </div>
                </div>
            </div>
            <div id="watch-history" class="col-md-8" th:if="${action.equals('watch-history')}"
                 style="border: 1px white solid;">
                <table class="table" style="color: white;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Phim đã xem</th>
                        <th>Thời gian xem</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="history : ${histories}">
                        <td th:text="${history.watchId}"></td>
                        <td><a th:text="${history.movie.title}"></a></td>
                        <td th:text="${history.timeWatch}"></td>
                        <td>
                            <a th:href="@{/profile/watch-history/delete(id=${history.watchId})}">
                                <i class="fa-solid fa-trash-can" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination" th:if="${historyPage.totalPages > 1}">
                    <a th:if="${historyPage.hasPrevious()}"
                       th:href="@{/profile/watch-history(page=*{0}, size=${historyPage.size})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a th:each="i : ${#numbers.sequence(0, historyPage.totalPages - 1)}"
                       th:class="${historyPage.number == i ? 'paitem active' : 'paitem'}"
                       th:href="@{/profile/watch-history(page=*{i}, size=${historyPage.size})}"
                       th:text="${i + 1}"></a>
                    <a th:if="${historyPage.hasNext()}"
                       th:href="@{/profile/watch-history(page=*{historyPage.totalPages - 1}, size=${historyPage.size})}"
                       aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </div>
            </div>
            <div id="favorite" class="col-md-8" th:if="${action.equals('favorite')}"
                 style="border: 1px white solid;">
                <table class="table" style="color: white;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Phim yêu thích</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="favorite: ${favorites}">
                        <td th:text="${favorite.favoriteId}"></td>
                        <td><a th:text="${favorite.movie.title}"></a></td>
                        <td>
                            <a th:href="@{/profile/favorite/delete(id=${favorite.favoriteId})}" class="delete-link">
                                <i class="fa-solid fa-trash-can" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination" th:if="${favoritePage.totalPages > 20}">
                    <a th:if="${favoritePage.hasPrevious()}"
                       th:href="@{/profile/favorite(page=*{0}, size=${favoritePage.size})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a th:each="i : ${#numbers.sequence(0, favoritePage.totalPages - 1)}"
                       th:class="${favoritePage.number == i ? 'paitem active' : 'paitem'}"
                       th:href="@{/profile/favorite(page=*{i}, size=${favoritePage.size})}"
                       th:text="${i + 1}"></a>
                    <a th:if="${favoritePage.hasNext()}"
                       th:href="@{/profile/favorite(page=*{favoritePage.totalPages - 1}, size=${favoritePage.size})}"
                       aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </div>
            </div>
            <div id="review" class="col-md-8" th:if="${action.equals('review')}"
                 style="border: 1px white solid;">
                <table class="table" style="color: white;">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Phim yêu thích</th>
                        <th>Điểm đánh giá</th>
                        <th>Xóa</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="review: ${reviews}">
                        <td th:text="${review.reviewId}"></td>
                        <td><a th:text="${review.movie.title}"></a></td>
                        <td th:text="${review.rating}"></td>
                        <td>
                            <a th:href="@{/profile/review/delete(id=${review.reviewId})}" class="delete-link">
                                <i class="fa-solid fa-trash-can" style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="pagination" th:if="${reviewPage.totalPages > 1}">
                    <a th:if="${reviewPage.hasPrevious()}"
                       th:href="@{/profile/review(page=*{0}, size=${reviewPage.size})}">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                    <a th:each="i : ${#numbers.sequence(0, reviewPage.totalPages - 1)}"
                       th:class="${reviewPage.number == i ? 'paitem active' : 'paitem'}"
                       th:href="@{/profile/review(page=*{i}, size=${reviewPage.size})}"
                       th:text="${i + 1}"></a>
                    <a th:if="${reviewPage.hasNext()}"
                       th:href="@{/profile/review(page=*{reviewPage.totalPages - 1}, size=${reviewPage.size})}"
                       aria-label="Last">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </div>
            </div>
            <script th:inline="javascript">
                /*<![CDATA[*/
                const profile = document.getElementById('profile');
                const watch_history = document.getElementById('watch-history');
                const favorite = document.getElementById('favorite');
                const review = document.getElementById('review');

                function showProfile() {
                    profile.style.display = '';
                    watch_history.style.display = 'none';
                    favorite.style.display = 'none';
                    review.style.display = 'none';
                }

                function showWatchHistory() {
                    profile.style.display = 'none';
                    watch_history.style.display = '';
                    favorite.style.display = 'none';
                    review.style.display = 'none';
                }

                function showFavorite() {
                    profile.style.display = 'none';
                    watch_history.style.display = 'none';
                    favorite.style.display = '';
                    review.style.display = 'none';
                }

                function showReview() {
                    profile.style.display = 'none';
                    watch_history.style.display = 'none';
                    favorite.style.display = 'none';
                    review.style.display = '';
                }

                const action = /*[[${action}]]*/ null;
                if(action === 'profile') {
                    showProfile();
                }else if(action === 'watch-history') {
                    showWatchHistory();
                }else if(action === 'favorite') {
                    showFavorite();
                }else if(action === 'review') {
                    showReview();
                }
                /*]]>*/
            </script>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p>Copyrights @Tổ 5. All Rights reserved</p>
                </div>
                <div class="col-auto">
                    <p>Designed by <a th:href="@{'https://www.facebook.com/kienk4.me/'}" target="_blank">Movie System</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>
