<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/9011056154.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style1.css">
    <link rel="stylesheet" href="/css/style2.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
    <title>Movie System</title>

    <style>
        .dropdown-container:hover .dropdown {
            display: grid;
            width: auto;
            background-color: #272727;
            grid-template-columns: repeat(5, 1fr);
        }

        .dropdown a {
            display: block;
            padding: 15px;
            font-size: medium;
            font-weight: 500;
            width: fit-content;
            white-space: nowrap;
        }

        .user-avatar {
            position: relative;
        }

        .user-avatar img {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #1e2122;
            min-width: 160px;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            padding: 12px 16px;
            z-index: 1;
            right: 0;
        }

        .dropdown-content span {
            color: white;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            width: 100%;
            box-sizing: border-box;
            text-align: center;
        }

        .dropdown-content span:hover {
            background-color: #1e2122;
            color: #d28c19;
        }

        .user-avatar:hover .dropdown-content {
            display: block;
        }

        .inf-avt-link-item-status p {
            margin-bottom: 0;
            padding: 5px;
            font-size: 12px;
            font-weight: 500;
            color: #a8a094;
        }
    </style>
</head>

<body>
<div class="fbody">
    <nav id="home" class="navbar">
        <div class="container">
            <a class="navbar-brand" th:href="@{/}"><img src="/img/icon.png" alt=""
                                                        style="height: 60px; width: 200px"></a>
            <div></div>
            <form class="d-flex" th:action="@{/search}" method="get">
                <label for="search" class="form-label">
                    <input id="search" name="search" class="form-search form-control ms-5 me-2" type="search"
                           placeholder="Search" aria-label="Search">
                </label>
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
            <div class="dndk" th:if="${session.user == null}">
                <input class="btn btn-outline-light openl" id="bt" type="button" value="Login">
                <input class="btn btn-outline-light opens" id="btn2" type="button" value="Sign Up">
            </div>
            <div class="user-avatar" id="userAvatar" th:if="${session.user != null}" style="cursor: pointer;">
                <img th:src="${session.user.getAvatar()}" alt="User Avatar"
                     style="height: 40px; width: 40px; border-radius: 50%;">
                <div class="dropdown-content" id="dropdownContent" style="z-index: 999999">
                    <span>
                        <i class="fa-regular fa-user"></i>
                        <a th:href="@{/profile}">Profile</a>
                    </span>
                    <span th:if="${#strings.equals(session.user.role, 'admin')}">
                        <i class="fa-solid fa-user-tie"></i>
                        <a th:href="@{/admin}">Admin</a>
                    </span>
                    <span>
                        <i class="fa-solid fa-right-from-bracket"></i>
                        <a th:href="@{/logout}">Logout</a>
                    </span>
                </div>
            </div>

            <script>
                window.onclick = function (event) {
                    if (!event.target.matches('.user-avatar')) {
                        const dropdowns = document.getElementsByClassName("dropdown-content");
                        for (let i = 0; i < dropdowns.length; i++) {
                            const openDropdown = dropdowns[i];
                            if (openDropdown.classList.contains('show')) {
                                openDropdown.classList.remove('show');
                            }
                        }
                    }
                }
            </script>
        </div>
    </nav>

    <header>
        <div class="container">
            <div class="toolbar" style="justify-content: space-between">
                <a th:href="@{/}">Trang chủ</a>
                <div class="dropdown-container">
                    <a>Thể loại</a>
                    <div class="dropdown" style="z-index: 9999">
                        <a th:each="genre : ${genres}" th:href="@{/filter(category=${genre})}" th:text="${genre}"></a>
                    </div>
                </div>
                <div class="dropdown-container">
                    <a>Quốc gia</a>
                    <div class="dropdown" style="z-index: 9999">
                        <a th:each="nation : ${nations}" th:href="@{/filter(category=${nation})}"
                           th:text="${nation}"></a>
                    </div>
                </div>
                <div class="dropdown-container">
                    <a>Phim mới</a>
                    <div class="dropdown" style="z-index: 9999">
                        <a th:each="year : ${releaseDates}" th:href="@{/filter(category=${year})}"
                           th:text="${year}"></a>
                    </div>
                </div>
                <a th:href="@{/filter(category=series)}">Phim bộ</a>
                <a th:href="@{/filter(category=feature-film)}">Phim lẻ</a>
                <a th:href="@{/filter(category=english-language-films)}">Phim chiếu rạp</a>
            </div>
        </div>
    </header>

    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/}">Trang chủ</a></li>
            <li class="breadcrumb-item" th:if="${navigation != null}">
                <a th:href="@{/filter(category=${movie.getNation()})}" th:text="${navigation}"></a>
            </li>
            <li class="breadcrumb-item" th:if="${movie != null}">
                <a th:href="@{/information(movie_id=${movie.getMovieId()})}" th:text="${movie.getTitle()}"></a>
            </li>
        </ul>
    </div>

    <div id="home" class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="video-film">
                    <iframe width="100%" height="450"
                            th:src="${episode.getEpisodeFilm()}"></iframe>
                    <div class="count-tapfilm">
                        <a th:each="episode : ${movie.getEpisodes()}"
                           th:href="@{/watch(episode_id=${episode.getEpisodeId()})}"
                           th:text="${episode.getEpisodeName()}"></a>
                    </div>
                </div>

                <!-- Swiper -->
                <div class="swiper mySwiper" style="margin-top: 20px">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" th:each="movie : ${carousel}">
                            <a th:href="@{/information(movie_id=${movie.getMovieId()})}">
                                <img th:src="${movie.getPoster()}" alt="Image 1" style="height: 210px;">
                            </a></div>
                    </div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>
                <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
                <script>
                    const swiper = new Swiper(".mySwiper", {
                        rewind: true,
                        slidesPerView: 5,
                        spaceBetween: 30,
                        navigation: {
                            nextEl: ".swiper-button-next",
                            prevEl: ".swiper-button-prev",
                        },
                        autoplay: {
                            delay: 2500,
                            disableOnInteraction: false,
                        },
                    });
                </script>
            </div>

            <div class="col-lg-4">
                <div class="listall" style="margin-top: 10px">
                    <a>
                        <div class="pa-title-item-2">Phim vừa ra mắt</div>
                    </a>
                    <div class="content" th:each="top6Movie : ${top6MoviesNewest}" style="margin: 5px 0 5px 0;">
                        <a th:title="${top6Movie.getTitle()}"
                           th:href="@{/information(movie_id=${top6Movie.getMovieId()})}">
                            <span class="status"
                                  th:text="${top6Movie.getEpisodes().size() + '/' + top6Movie.getTotalEpisode()}">04/??</span>
                            <div class="list-top-movie-item-thumb"
                                 th:style="'background-image: url(' + ${top6Movie.getPoster()} + ')'"></div>
                            <div class="list-top-movie-item-info">
                                <span class="list-top-movie-item-vn" th:text="${top6Movie.getTitle()}"></span>
                                <span class="list-top-movie-item-view" th:text="${top6Movie.getReleaseDate()}"></span>
                                <span class="list-top-movie-item-view"
                                      th:text="${top6Movie.getTotalView() + ' Lượt xem'}"></span>
                            </div>
                        </a>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-auto">
                    <p>Copyrights @Tổ 5. All Rights reserved</p>
                </div>
                <div class="col-auto">
                    <p>Designed by <a th:href="@{'https://www.facebook.com/kienk4.me/'}" target="_blank">Movie System</a></p>
                </div>
            </div>
        </div>
    </footer>
</div>

</body>